.Comparison {
    border: 1px solid black;
    text-align: center;
}

.Comparison-header {
    font-weight: bold;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.Comparison-row-cell {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.Comparison-row {
    background: #f5f5f5;
}

.Comparison-row:nth-of-type(even){
    background: white;
}